 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #063547;">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" routerLink="/"><h3 class=" text-center text-white">&nbsp; Bokstorek </h3>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <input (keyup)="search($event)" type="text" class="form-control ms-4 "  style="border-radius: 45px; border: none;" placeholder="Search here...">
                   </li>
                   <button type="submit" class="search"><i class="fa fa-search mt-2" aria-hidden="true"></i>
</button>
                <li class="nav-item"><a class="nav-link active  " aria-current="page" id="wishlist"  routerLink="books/wishlist">Wishlist</a></li>
            </ul>
            <form class="d-flex">
                <a routerLink="books/bookstore" class="btn btn-outline-light" type="submit">
                    <i class="bi-bookstore-fill me-1"></i>
                    bookstore
                    <span class="badge bg-light text-dark ms-1 rounded-pill">{{bookstorecount}}</span>
                </a>
            </form>
        </div>
    </div>
</nav>

