 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #063547;">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" routerLink="/home"><h3 class=" text-center text-white">&nbsp; Bokstorek </h3>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <input (keyup)="search($event)" type="text" class="form-control ms-4 "  style="border-radius: 45px; border: none;" placeholder="Search here...">
                   </li>
                   <button type="submit" class="search"><i class="fa fa-search mt-2" aria-hidden="true"></i>
</button>
                <li class="nav-item"><a class="nav-link active  " aria-current="page" id="wishlist"  routerLink="/wishlist">Wishlist</a></li>
            </ul>
            <form class="d-flex">
                <a routerLink="/bookstore" class="btn btn-outline-light" type="submit">
                    <i class="fa fa-bookstore-plus"></i> 
                    bookstore
                    <span class="badge bg-light text-dark ms-1 rounded-pill">{{bookstorecount}}</span>
                </a>
            </form>
        </div>
    </div>
</nav>


<!-- <pre>{{allproducts  | json}}</pre> -->
<!-- gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-12 -->
<div style="margin-top:5% ;">
<!-- wishlist  -->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row justify-content-center">
            <div *ngFor="let product of allproducts | filter:searchterm:'title' " class="col-lg-3 col-md-3 col-sm-2 mb-3">
                <div class="card w-75 align-items-center">
                    <!-- Product image-->
                    <img class="card-img-top" [src]="product.image" alt="..." />
                    <!-- Product details-->
                    <div class="">
                        <div class="text-center mt-2">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.title}}</h5>
                            <!-- Product price-->
                            ${{product.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button (click)="addtowishlist(product)" class="btn btn-outline-danger mt-auto" ><i class="fa fa-heart "></i></button>
                            <button  (click)="addbookstore(product)" class="btn btn-outline-warning mt-auto ms-2" >  <i class="fa fa-bookstore-plus"></i></button>
                    </div>

                    </div>
                </div>
            </div>
</div>
</div>
</section>
</div>