<div class="container mt-3">
    <div class="row ">
        <h6 class="text-center" style=" width: 500px; margin: 10px 320px  20px; line-height: 2px;border-bottom: 1px solid black;text-align: center;">
            <span style="background: white;padding: 0 10px;">BOKSTOREK</span>
          </h6>
          <h3 class="text-center">USER REGISTER</h3> 
    </div>

    <div class="login mt-3 bg-dark text-center" 
    style="width: 380px;height: 450px;border-radius: 20px;margin-left: 390px;">
    <i class="fa-solid fa-circle-user"
     style="color: #f2f2f2;font-size: 100px;margin-top: 30px;"></i>
  <div class="mt-4">
    <h6 class="text-center" style="margin: 10px 50px 20px; line-height: 2px;border-bottom: 1px solid white;text-align: center;">
      <span class="bg-dark text-light text-center" style="padding: 0 10px;">REGISTRATION</span>
    </h6>

  </div>
     
     <form [formGroup]="registerForm" (ngSubmit)="register()">

        <input type="text" placeholder="Name" name="uname" formControlName="uname"
        class="form-control ms-4" style="width: 320px;margin-left: 20px;"> 
        <!-- name validation -->
        <div *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched" 
        class="text-danger mb-2" style="margin-left: 20px;font-size: 13px;">Invalid Name</div>
  

        <input type="password" placeholder="Password" name="pwd" formControlName="pwd"
         class="form-control mt-2 ms-4" style="width: 320px;margin-left: 20px;">
         <!-- pswd validation -->
        <div *ngIf="this.registerForm.get('pwd')?.errors && this.registerForm.get('pwd')?.touched" 
        class="text-danger mb-2" style="margin-left: 20px;font-size: 13px;">Invalid Password</div>
  

        <input type="text" placeholder="Mobile Number" name="mobile" formControlName="mobile"
        class="form-control mt-2 ms-4" style="width: 320px;margin-left: 20px;"> 
        <!-- mobile validation -->
        <div *ngIf="this.registerForm.get('mobile')?.errors && this.registerForm.get('mobile')?.touched" 
        class="text-danger mb-2" style="margin-left: 20px;font-size: 13px;">Invalid Mobile number please enter 10 digit Number</div>

        <input type="text"placeholder="Email" name="email" formControlName="email"
        class="form-control mt-2 ms-4" style="width: 320px;margin-left: 20px;">
         <!-- email validation -->
         <div *ngIf="this.registerForm.get('email')?.errors && this.registerForm.get('email')?.touched" 
         class="text-danger mb-2" style="margin-left: 20px;font-size: 13px;">Invalid email</div>
   
        <button (click)="register()"
        class="btn btn-light text-dark mt-3" >Register</button>
  <br>
   <div class="text-center">
        <span class="ms-2 text-light text-center">Already have account ? <a routerLink="/login" class="text-light">login</a></span>
      </div>
     </form>

    </div>

</div>

