<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #063547;">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" routerLink="/home">
            <h3 class=" text-center text-white">&nbsp; Bokstorek </h3>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link pl-lg-0 text-white" style="margin-left: 95px;" aria-current="page" href="/home">Home
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" aria-current="page" href="/about"> About <span
                            class="sr-only">(current)</span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/all-books">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="contact">Contact Us</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <input (keyup)="search($event)" type="text" class="form-control ms-4 "
                        style="border-radius: 45px; border: none;" placeholder="Search here...">
                </li>
                <button type="submit" class="search"><i class="fa fa-search mt-2" aria-hidden="true"></i>
                </button>
                <li class="nav-item"><a class="nav-link active  " aria-current="page" id="wishlist"
                        routerLink="books/wishlist">Wishlist</a></li>
            </ul>
            <form class="d-flex">
                <a routerLink="books/cart" class="btn btn-outline-light" type="submit" style="display: none;">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-light text-dark ms-1 rounded-pill">{{cartcount}}</span>
                </a>
            </form>
        </div>
    </div>
</nav>
<section class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <div class="heading_container ">
                    <h2 class="">
                        Contact Us
                    </h2>
                </div>
                <form action="#">
                    <div>
                        <input type="text" placeholder="Name" />
                    </div>
                    <div>
                        <input type="email" placeholder="Email" />
                    </div>
                    <div>
                        <input type="text" placeholder="Pone Number" />
                    </div>
                    <div>
                        <input type="text" class="message-box" placeholder="Message" />
                    </div>
                    <div class="btn-box">
                        <button>
                            SEND
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="./../../../../assets/contact-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>